<div class="nav_link @(Model.IsSelected ? "nav_link_selected" : "")" @onclick="@(() => OnClicked.InvokeAsync(Model))">
    <a href="@Model.Href" class="non_link">
        <div>
            <span class="@Model.ImgClass margin_right_10"></span>
            <span>@Model.LinkText</span>
        </div>
    </a>
    @*<div>
            <ul class="d_inline">
                <li class="non_li">
                    <div>
                        <a href="" class="non_link">Add new item</a>
                    </div>
                </li>
            </ul>
        </div>*@
</div>

@code {

    [Parameter]
    public NavigationLinkModel Model { get; set; }

    [Parameter]
    public EventCallback<NavigationLinkModel> OnClicked { get; set; }
}
